.statistics {
    width: 300px;
    margin: 15px auto;
    padding: 20px;
    background-color: rgba(108, 107, 114, 0.493);
    text-align: center;
    border-radius: 5px;
  }
  .title {
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .statList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }
  .item {
    display: flex;
    flex-direction: column;
    padding: 7px;
    background-color: rgba(123, 137, 143, 0.719);
    border-radius: 5px;
    width: 50px;
  }
  .item:not(:last-child){
      margin-right: 10px;
  }
  .label {
    font-size: 13px;
  }
  
  .percentage {
    font-weight: 700;
    font-size: 18px;
  }